<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">

    <servlet>
        <servlet-name>whling</servlet-name>
        <servlet-class>com.whl.activemq.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>whling</servlet-name>
        <url-pattern>/whling.html</url-pattern>
    </servlet-mapping>

    <!--&lt;!&ndash;配置DispatcherServlet&ndash;&gt;
    <servlet>
        <servlet-name>seckill-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        &lt;!&ndash;
            springmvc容器初始化包含springmvc/spring/mybatis
        &ndash;&gt;
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/application-*.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>seckill-dispatcher</servlet-name>
        &lt;!&ndash;默认匹配所有请求&ndash;&gt;
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->


</web-app>
        